---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../../data/projects";

const { id } = Astro.props;
---

<div>
  <div class="container mx-auto px-4">
    <h2 class="text-5xl font-extrabold mb-8 text-center">
      <span class="relative inline-block">
        <span class="relative z-10 bg-gradient-to-r from-indigo-600 to-indigo-400 dark:from-indigo-500 dark:to-indigo-300 bg-clip-text text-transparent">Proyectos</span>
        <span class="absolute left-0 bottom-3 w-full h-4 bg-yellow-300/30 dark:hidden -rotate-1 rounded shadow-sm"></span>
      </span>
    </h2>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map(project => (
        <ProjectCard
          image={project.image}
          title={project.title}
          description={project.description}
          tags={project.tags}
          githubLink={project.githubLink}
          demoLink={project.demoLink}
        />
      ))}
    </div>
  </div>
</div>
