---
import Image from "astro/components/Image.astro";
import GitHubIcon from "../../assets/Icons/GitHubIcon.astro";
import LinkIcon from "../../assets/Icons/LinkIcon.astro";
import AngularIcon from "../../assets/Icons/AngularIcon.astro";
import SpringBootIcon from "../../assets/Icons/SpringBootIcon.astro";
import AstroIcon from "../../assets/Icons/AstroIcon.astro";
import TailwindIcon from "../../assets/Icons/TailwindIcon.astro";

// Mapeo de nombres de iconos a componentes
const iconComponents = {
  AngularIcon,
  SpringBootIcon,
  AstroIcon,
  TailwindIcon
};

// Define la interfaz de Props
interface Props {
  image: ImageMetadata;
  title: string;
  description: string;
  demoLink?: string;
  githubLink?: string;
  tags: Array<{
    name: string;
    icon: string; // Ahora es un string
  }>;
}

// Recibe las props
const { image, title, description, demoLink, githubLink, tags } = Astro.props;
---

<div class="max-w-md bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg transition-shadow duration-300">
  <div class="overflow-hidden rounded-t-lg h-48">
    <img class="w-full h-full object-cover object-center" src={image.src} alt={title} />
  </div>
  
  <div class="p-5">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      {title}
    </h5>
    
    <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400">
      {description}
    </p>
    
    {tags && tags.length > 0 && (
      <div class="flex flex-wrap gap-2 mb-4">
        {tags.map(tag => {
          const IconComponent = iconComponents[tag.icon];
          return (
            <span class="flex items-center gap-1 bg-blue-100 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
              {IconComponent && <IconComponent class="size-4" />}
              <span>{tag.name}</span>
            </span>
          );
        })}
      </div>
    )}
    
    <div class="flex justify-between mt-4">
      {githubLink && (
        <a
          href={githubLink}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold p-2 rounded-md dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center gap-1"
        >
          <GitHubIcon class:list={"size-4"} />
          <span>GitHub</span>
        </a>
      )}
      
      {demoLink && (
        <a
          href={demoLink}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-teal-100 hover:bg-teal-200 text-teal-800 text-xs font-semibold p-2 rounded-md dark:bg-gray-700 dark:text-teal-400 border border-teal-400 inline-flex items-center gap-1"
        >
          <LinkIcon class:list={"size-4"} />
          <span>Demo</span>
        </a>
      )}
    </div>
  </div>
</div>
